.footer {
    margin-top: 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: var(--color1);
    color: var(--color3);
    font-size: var(--p2);
}