nav {
    width: 100%;
    padding: .5rem 3rem;
    background: linear-gradient(to right, #FFFFD9, #FDFDD7, #E7E7A2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > div:first-of-type {
    display: flex;
    gap: 0.5rem;
    align-items: baseline;
}
nav > div:first-of-type > div {
    font-size: 2rem;
}
nav > div:first-of-type > div > span:first-of-type {
    font-size: 3.5rem;
}
nav > div:last-of-type {
    display: flex;
    gap: 1rem;
    align-items: center;
}
nav > div:last-of-type > div {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1rem;
}
nav button {
    padding: .5rem 1rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--color1);
    color: var(--color3);
}
nav button:hover {
    opacity: .8;
}